<%= turbo_stream.append dom_id(@quiz, :feedbacks_list) do %>
  <%= render @feedbacks %>
<% end %>

<%= turbo_stream.replace dom_id(@quiz, :feedbacks_pagination) do %>
  <% if @next_page %>
    <div id="<%= dom_id(@quiz, :feedbacks_pagination) %>" class="mt-3 text-center">
      <%= link_to "Load more",
            quiz_feedbacks_path(@quiz, page: @next_page, format: :turbo_stream),
            class: "inline-flex items-center rounded-md border px-3 py-1.5 hover:bg-gray-50" %>
    </div>
  <% else %>
    <div id="<%= dom_id(@quiz, :feedbacks_pagination) %>"></div>
  <% end %>
<% end %>
